html {
  width: 800px;
  height: 600px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

input {
  display: block;
}

label {
  white-space: nowrap;
}
